<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper nameapace="com.kuang.dao.BookMapper">
        <!-- 增加书籍 -->
        <insert id="addBook" parameterType="Books">
            insert into ssm.books(bookName,bookCounts,detail)
            values (#{bookName},#{bookCounts},#{detail})
        </insert>

        <!-- 删除书籍 -->
        <delete id="deleteBookByID" parameterType="int">
            delete from ssm.books where bookID = #{bookId}
        </delete>


        <!-- 更新书籍 -->
        <update id="updateBook" parameterType="int">
            update from ssm.books 
            set bookName = #{bookName},bookCounts=#{bookCounts},detail=#{detail}
            where bookID = #{bookID}
        </update>


        <!-- 查询书籍信息 -->
        <select id="queryBookByID" resultType="Books">
            select * from ssm.books 
            where bookID = #{bookId}
        </select>



        <!-- 查询所有书籍信息 -->
         <select id="queryAllBook" resultType="Books">
            select * from ssm.books 
        </select>

  </mapper>